#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
}

.card {
  position: relative;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.glass-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1); /* Стеклянный фон */
  border-radius: inherit;
}
